.navbar, body {
 background: #fff;  /* fallback for old browsers */
}

.navbar-brand {
    /* Font color */
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Font family */
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 150%;
}

.fa-palette {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item, .fa-grin-alt, .navbar-toggler{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 120%;
}

.alert {
    background-color: #FFFFFF;
}

.alert-heading {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

a {
    color: #FFFFFF;
}

.badge {
    color: #FFFFFF;
}

/* Card animation and Style */
.card{
    width: 14rem;
    height: 10rem;
    color: white;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;

    /* For animation */
    -webkit-animation: scaledown .4s ease;
    animation: scaledown .4s linear;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}

.card :hover {
    z-index: 100;
    -webkit-animation: scale 0.4s ease;
    animation: scale 0.4s linear;
    animation-fill-mode: forwards;
}

@keyframes scaledown {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        /* box-shadow: 10px 10px 60px 10px; */
    }
} /* Card animation and Style */


