/* Rocking Red */
#E44236 {
    background-color: #E44236;
    border: #E44236;
}

#B83227 {
    background-color: #B83227;
    border: #B83227;
}

#D63031 {
    background-color: #D63031;
    border: #D63031;
}

#E84342 {
    background-color: #E84342;
    border: #E84342;
}

#FF3031 {
    background-color: #FF3031;
    border: #FF3031;
}

#BA2F16 {
    background-color: #BA2F16;
    border: #BA2F16;
}

#EC4849 {
    background-color: #EC4849;
    border: #EC4849;
}

#FF3E4D {
    background-color: #FF3E4D;
    border: #FF3E4D;
}

#E71C23 {
    background-color: #E71C23;
    border: #E71C23;
}

#EA425C {
    background-color: #EA425C;
    border: #EA425C;
}

#E8290B {
    background-color: #E8290B;
    border: #E8290B;
}

#AE1438 {
    background-color: #AE1438;
    border: #AE1438;
}

#E83350 {
    background-color: #E83350;
    border: #E83350;
}

#FF4848 {
    background-color: #FF4848;
    border: #FF4848;
}

#FF362E {
    background-color: #FF362E;
    border: #FF362E;
}

/* Beautiful Blue */
#blue_3498DB {
    background-color: #3498DB;
}
#blue_74B9FF {
    background-color: #74B9FF;
}
#blue_2475B0 {
    background-color: #2475B0;
}
#blue_0A79DF {
    background-color: #0A79DF;
}
#blue_4834DF {
    background-color: #4834DF;
}
#blue_30336B {
    background-color: #30336B;
}
#blue_487EB0 {
    background-color: #487EB0;
}
#blue_192A56 {
    background-color: #192A56;
}
#blue_6A89CC {
    background-color: #6A89CC;
}
#blue_0A3D62 {
    background-color: #0A3D62;
}
#blue_4BCFFA {
    background-color: #4BCFFA;
}
#blue_0ABDE3 {
    background-color: #0ABDE3;
}
#blue_25CCF7 {
    background-color: #25CCF7;
}
#blue_67E6DC {
    background-color: #67E6DC;
}
#blue_3C40C6 {
    background-color: #3C40C6;
}

/* Golf green */
#green_2ecc72{
    background-color: #2ecc72
}
#green_26ae60{
    background-color: #26ae60
}
#green_6ab04c{
    background-color: #6ab04c
}
#green_6AB04A{
    background-color: #6AB04A
}
#green_badc57{
    background-color: #badc57
}
#green_43BE31{
    background-color: #43BE31
}
#green_45CE30{
    background-color: #45CE30
}
#green_10A881{
    background-color: #10A881
}
#green_1BCA9B{
    background-color: #1BCA9B
}
#green_7CEC9F{
    background-color: #7CEC9F
}
#green_019031{
    background-color: #019031
}
#green_A3CB37{
    background-color: #A3CB37
}
#green_75DA8B{
    background-color: #75DA8B
}
#green_53E0BC{
    background-color: #53E0BC
}
#green_218F76{
    background-color: #218F76
}

/* Fresh Yellow */
#EEC213 {
    background-color: #EEC213;
}
#F5C469 {
    background-color: #F5C469;
}
#F4C724 {
    background-color: #F4C724;
}
#F0DF87 {
    background-color: #F0DF87;
}
#DFAF2B {
    background-color: #DFAF2B;
}
#FAC42F {
    background-color: #FAC42F;
}
#F3B63A {
    background-color: #F3B63A;
}
#FBD28B {
    background-color: #FBD28B;
}
#F3B431 {
    background-color: #F3B431;
}
#FAD02E {
    background-color: #FAD02E;
}
#E5B143 {
    background-color: #E5B143;
}
#F3CC79 {
    background-color: #F3CC79;
}
#F9DDA4 {
    background-color: #F9DDA4;
}
#FFF222 {
    background-color: #FFF222;
}
#E1DA00 {
    background-color: #E1DA00;
}

/* Old Grey */
#grey_7B8788 {
    background-color: #7B8788;
}
#grey_99AAAB {
    background-color: #99AAAB;
}
#grey_2C3335 {
    background-color: #2C3335;
}
#grey_616C6F {
    background-color: #616C6F;
}
#grey_DAE0E2 {
    background-color: #DAE0E2;
}
#grey_535C68 {
    background-color: #535C68;
}
#grey_333945 {
    background-color: #333945;
}
#grey_2F363F {
    background-color: #2F363F;
}
#grey_586776 {
    background-color: #586776;
}
#grey_8395A7 {
    background-color: #8395A7;
}
#grey_A4B0BD {
    background-color: #A4B0BD;
}
#grey_777E8B {
    background-color: #777E8B;
}
#grey_758AA2 {
    background-color: #758AA2;
}
#grey_47535E {
    background-color: #47535E;
}
#grey_4C4B4B {
    background-color: #4C4B4B;
}

/* Might be great */
#great_EAF0F1 {
    background-color: #EAF0F1;
}
#great_E74292 {
    background-color: #E74292;
}
#great_01CBC6 {
    background-color: #01CBC6;
}
#great_BB2CD9 {
    background-color: #BB2CD9;
}
#great_8B78E6 {
    background-color: #8B78E6;
}
#great_00CCCD {
    background-color: #00CCCD;
}
#great_1287A5 {
    background-color: #1287A5;
}
#great_EA7773 {
    background-color: #EA7773;
}
#great_2B2B52 {
    background-color: #2B2B52;
}
#great_F5BCBA {
    background-color: #F5BCBA;
}